<div class="col">
  <h1 class="text-center">Ajout d'un nouveau véhicule</h1>
  <div class="row">
    <% if @commande %>
      <%= render 'formcommande', vehicule: @vehicule %>
    <% else %>
      <%= render 'form', vehicule: @vehicule %>
    <% end %>
  </div>
</div>
