<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
  <a class="navbar-brand" href="<%= root_path %>">JnS Gestion</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ajouter nouveau
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="<%= new_contact_path%>"><%= fa_icon('users') %> Contact</a>
          <a class="dropdown-item" href="#">Commande</a>
          <a class="dropdown-item" href="#">Véhicule</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#">Clients</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Fournisseurs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Commandes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Véhicule</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
  </div>
</nav>
