<div class="col">
  <h1 class="text-center">Ajout d'une nouvelle adresse de livraison pour <%= @contact.prenom %> <%= @contact.nom %></h1>
  <div class="row">
    <%= render 'form', livraison: @livraison %>
  </div>
</div>
